<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>">
        <%= value %>
      </div>
      <% end %>
    </div>
  </div>
</div>