<footer class="page-footer font-small bg-dark" style="position: absolute; margin-top: 30px; width: 100%">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    <p style="margin: auto;color: #fff">2020 Copyright: Sujan Dey</p>
  </div>
  <!-- Copyright -->

</footer>